.container {
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    display: flex;
    gap: 20px;
}

.container a {
    border: 2px solid #919090;
    padding: 10px;
    text-decoration: none;
    color: black;
}

.container a:hover {
    border: 3px solid black;
}

.container a:active {
    background-color: #919090;
    color: white;
}